{{#if navigation.length}}
  {{#each navigation}}
    {{#if ./content}}
      {{#if ./url}}
        {{~#if (eq ./urlType 'internal')}}
          <div class="nav-item">
            {{#if ./items.length}}
              <i class="material-icons show-more" aria-hidden="true">chevron_right</i>
            {{/if}}
            <a  class="{{#unless ./items.length}}spacer{{/unless}}{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" href="{{relativize ./url}}">
              {{{./content}}}
            </a>
          </div>
        {{~else}}
          <div class="nav-item">
            {{#if ./items.length}}
              <i class="material-icons show-more" aria-hidden="true">chevron_right</i>
            {{/if}}
            <a class="{{#unless ./items.length}}spacer{{/unless}}{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" href="{{{./url}}}">
              {{{./content}}}
            </a>
          </div>
        {{~/if}}
      {{else}}
        <div class="nav-item">
          {{#if ./items.length}}
            <i class="material-icons show-more" aria-hidden="true">chevron_right</i>
          {{/if}}
          <span class="{{#unless ./items.length}}spacer{{/unless}}{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}">
            {{{./content}}}
          </span>
        </div>
      {{/if}}
    {{/if}}
    {{#if ./items.length}}
      {{#if ./root}}
          {{> nav-tree navigation=./items}}
      {{else}}
        <div class="nav-children-panel hide">
          {{> nav-tree navigation=./items}}
        </div>
      {{/if}}
    {{/if}}
  {{/each}}
{{/if}}
